@using Common
<!-- Main sidebar -->
<div class="sidebar sidebar-main" id="menu-scroll" data-mcs-theme="dark">
    <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    <li class="navigation-header"><span><h3>Agro App</h3></span> <i class="icon-menu" title="Agro App Menu's"></i></li>
                    @*<li>
                        <a href="#"><i class=" icon-menu2"></i> <span>Inventory Masters</span></a>
                        <ul>
                         
                                <li><a href="#">Item Category</a></li>
                          
                            
                                <li><a href="#">Item Sub Category</a></li>
                            </ul>
                        </li>*@
                            
                            @Html.GenerateMenu()

                        </ul>
</div>
        </div>
        <!-- /main navigation -->
    </div>
</div>
<!-- /main sidebar -->